<mat-toolbar color="primary">
  <button class="logo">
    <img src="../assets/_d5e75844-ccff-45e5-951d-310b62811964-removebg-preview.png"/>
  </button>
  <span>Literary Lane</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
