

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-block: 32px;
}

.card-book{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #4b02c8;
  border-radius: 20px;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(221, 246, 0);
  box-shadow: 1px 1px 4px black;
}

.card-book img {
  
    width: 120px;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;

}

.container-books{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  padding-inline: 20px;
  gap: 20px;
  justify-content: center;
}

.container-buttons{
  display: flex;
  gap: 8px;
}

.container-buttons .last{
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to top right, yellow, rgb(238, 193, 13));
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 5px black;
}

.container-buttons .next{
  padding: 4px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to top right, rgb(131, 65, 243), purple);
  color: white;
  box-shadow: 1px 1px 5px black;
}

@media (min-width: 720px) {
  .card-book img {
      width: 240px;
      height: 300px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px ;
    }
}