/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  background-image: url('./assets/_1219f908-f70e-4f0c-a8ad-0f7c42e82237.jpeg');
  background-size: cover;
  background-repeat: repeat;
}